.correct {
    border: 2px solid green;
  }
  
  .checkmark {
    position: absolute;
    right: 30px;
    top: 101px;
    color: green;
    font-size: 30px;
 /* Adjust the font size as needed */
    /* Adjust the color as needed */
  display: inline-block;
  margin-left: 5px; 
  }
  
  